[Unit]
Description=Virtual Display Daemon
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
ExecStart=virtual-display-daemon
Nice=19
Restart=on-failure

[Install]
WantedBy=multi-user.target
